.page {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #1e1d72 0%,
    #1c176e 20%,
    #181566 45%,
    #140f62 75%,
    #10006b 100%
  );
}

main {
  position: relative;
}
